@import "tailwindcss";

@font-face {
    font-family: "ChakraPetch";
    src: url("../assets/fonts/ChakraPetch-Medium.ttf");
}

@theme {
    --font-sans: "ChakraPetch", sans-serif;
}

*::-webkit-scrollbar {
    @apply w-1 bg-none
}

*::-webkit-scrollbar-thumb {
    @apply bg-white/20
}